

<div class="list">
  <h1 class="text-center "> List of all animals</h1>
  <div class="row">
  <% @animals.each do |animal| %>
      <div class="col-lg-3">
        <div class="card-trip">
          <%= image_tag 'dog_avatar.jpg' %>
          <div class="card-trip-infos">
            <div>
              <%= link_to animal_path(animal) do %>
                <h2><%= animal.name %></h2>
              <% end %>
              <p><%= animal.description %></p>
            </div>
            <h2 class="card-trip-pricing">07€/h</h2>
            <img src="https://www.dogingtonpost.com/wp-content/uploads/2017/02/GoldenUnited.png" class="card-trip-user avatar-bordered">
          </div>
        </div>
      </div>
  <% end %>
 </div>

