.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8%;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 50px;
  border-radius: 30%;
}
//======================================================
.bg-img {
  color: black;
  background-image: linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.5) 70%), asset-url('grass.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  // height: calc(100vh - 66px);
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 10px;
}

.bg-img h1 {
  font-size: 60px;
  font-weight: bold;
}

.bg-img .row {
  margin-top: 80px;
}

.bg-img h2 {
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
