.navbar-nav .navbar-collapse {
  justify-content: space-between;
  background: white;
  flex-grow: 0;
  text-decoration: none;
}


a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: transparent;
    padding-right: 10px;
  }

.logo {
  height: 70px;
  width: 250px;
  padding: 0px;
}
